Repository tusharmanna/moharChess: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, vitest related --run, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "vitest related --run"],
  "*.{json,md,css}": ["prettier --write"]
}

fix: resolve build errors (ESLint and TypeScript issues)
  src/app/group-class/page.tsx
  src/app/not-found.tsx
  src/app/our-gallery/page.tsx
  src/app/private-class/page.tsx
  src/components/__tests__/Toast.test.tsx
  src/lib/errorTracking.ts
Due: eslint --fix, vitest related --run

fixed errors
  next.config.ts
  src/app/group-class/page.tsx
  src/app/not-found.tsx
  src/app/our-gallery/page.tsx
  src/app/private-class/page.tsx
  src/components/Button.tsx
Due: eslint --fix, vitest related --run

fix: resolve ESLint and TypeScript build errors
  src/components/ErrorBoundary.tsx
  src/lib/errorTracking.ts
Due: eslint --fix, vitest related --run

Add February and March tournament pages with submenu navigation
  src/app/tournaments/february/page.tsx
  src/app/tournaments/march/page.tsx
  src/components/Header.tsx
Due: eslint --fix, vitest related --run

Update Google Forms links for February and March tournaments
  src/app/tournaments/february/page.tsx
  src/app/tournaments/march/page.tsx
Due: eslint --fix, vitest related --run

Update Next.js to 16.1.1 and fix build issues
  package-lock.json
  package.json
  src/app/forms-and-links/layout.tsx
  tsconfig.json
Due: eslint --fix, vitest related --run, prettier --write

Add YouTube channel link to Header and Footer
  deploy-hostinger.sh
  src/components/Footer.tsx
  src/components/Header.tsx
Due: eslint --fix, vitest related --run

date changee
  src/app/tournaments/march/page.tsx
Due: eslint --fix, vitest related --run

date changee
  src/app/tournaments/february/page.tsx
  src/app/tournaments/march/page.tsx
  src/components/Header.tsx
Due: eslint --fix, vitest related --run

flyer
  .claude/settings.local.json
  CLAUDE.md
  IMPROVEMENTS.md
  src/app/about-us/page.tsx
  src/app/careers/page.tsx
  src/app/contact-us/page.tsx
  src/app/error.tsx
  src/app/events/page.tsx
  src/app/flyer/PrintButton.tsx
  src/app/flyer/page.tsx
  src/app/forms-and-links/page.tsx
  src/app/page.tsx
  src/app/summer-camp/page.tsx
  src/app/tournaments/march/page.tsx
  src/app/tournaments/page.tsx
  src/components/ErrorBoundary.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
Due: eslint --fix, vitest related --run, prettier --write

May tournament
  src/app/tournaments/may/page.tsx
  src/components/Header.tsx
Due: eslint --fix, vitest related --run

updated bacjground
  Screenshot 2026-04-28 204236.jpg
  src/app/after-school-program/page.tsx
  src/app/careers/page.tsx
  src/app/contact-us/page.tsx
  src/app/events/page.tsx
  src/app/flyer/PrintButton.tsx
  src/app/flyer/page.tsx
  src/app/forms-and-links/page.tsx
  src/app/globals.css
  src/app/group-class/page.tsx
  src/app/not-found.tsx
  src/app/online-chess-school/page.tsx
  src/app/our-gallery/page.tsx
  src/app/page.tsx
  src/app/private-class-registration/page.tsx
  src/app/private-class/page.tsx
  src/app/summer-camp/page.tsx
  src/app/tournaments/march/page.tsx
  src/app/tournaments/may/page.tsx
  src/app/tournaments/page.tsx
  src/app/workshops/page.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  testimages/Screenshot 2026-04-28 204236.jpg
Due: eslint --fix, vitest related --run, prettier --write

updated bacjground
  src/app/globals.css
  tailwind.config.js
  testimages/Screenshot 2026-04-28 204236.jpg
Due: eslint --fix, vitest related --run, prettier --write

updated registration forms
  .claude/settings.local.json
  src/app/summer-camp/week1/page.tsx
  src/app/summer-camp/week2/page.tsx
  src/app/summer-camp/week3/page.tsx
  src/app/summer-camp/week4/page.tsx
  src/app/tournaments/august/page.tsx
  src/app/tournaments/july/page.tsx
  src/app/tournaments/june/page.tsx
  src/app/tournaments/may/page.tsx
  src/components/Header.tsx
Due: eslint --fix, vitest related --run, prettier --write

updated registration forms
  src/app/contact-us/page.tsx
Due: eslint --fix, vitest related --run

updated registration forms
  .claude/settings.local.json
  src/app/contact-us/page.tsx
Due: eslint --fix, vitest related --run, prettier --write

updated registration forms
  .claude/settings.local.json
  src/app/faq/page.tsx
  src/app/layout.tsx
  src/components/ChatbaseWidget.tsx
  src/components/Header.tsx
  src/components/TawkChat.tsx
Due: eslint --fix, vitest related --run, prettier --write

updated registration forms
  .claude/settings.local.json
  src/app/faq/page.tsx
  src/app/page.tsx
Due: eslint --fix, vitest related --run, prettier --write

updated registration forms
  src/app/about-us/page.tsx
  src/app/after-school-program/page.tsx
  src/app/browse-sessions/page.tsx
  src/app/careers/page.tsx
  src/app/contact-us/layout.tsx
  src/app/events/page.tsx
  src/app/faq/layout.tsx
  src/app/forms-and-links/layout.tsx
  src/app/group-class/page.tsx
  src/app/online-chess-school/page.tsx
  src/app/our-gallery/page.tsx
  src/app/page.tsx
  src/app/private-class-registration/layout.tsx
  src/app/private-class/page.tsx
  src/app/summer-camp/page.tsx
  src/app/tournaments/may/page.tsx
  src/app/workshops/page.tsx
Due: eslint --fix, vitest related --run

updated registration forms
  public/images/workshop-64-squares-studio.jpg
  src/app/about-us/page.tsx
  src/app/workshops/page.tsx
  src/components/Header.tsx
Due: eslint --fix, vitest related --run

updated registration forms
  src/app/about-us/page.tsx
Due: eslint --fix, vitest related --run

update summer camps
  .claude/settings.local.json
  public/images/summer-camp-flyer.jpg
  push-to-github.bat
  src/app/summer-camp/week1/page.tsx
  src/app/summer-camp/week2/page.tsx
  src/app/summer-camp/week3/page.tsx
  src/app/summer-camp/week4/page.tsx
Due: eslint --fix, vitest related --run, prettier --write

updatedgoogle form
  src/app/workshops/page.tsx
Due: eslint --fix, vitest related --run

fixlinterror
  src/app/payment/page.tsx
  src/app/summer-camp/week1/layout.tsx
  src/app/summer-camp/week1/page.tsx
  src/app/summer-camp/week2/layout.tsx
  src/app/summer-camp/week2/page.tsx
  src/app/summer-camp/week3/layout.tsx
  src/app/summer-camp/week3/page.tsx
  src/app/summer-camp/week4/layout.tsx
  src/app/summer-camp/week4/page.tsx
  src/app/workshops/layout.tsx
  src/app/workshops/page.tsx
  src/components/RegistrationForm.tsx
Due: eslint --fix, vitest related --run

paymentlink
  .claude/settings.local.json
  src/components/RegistrationForm.tsx
Due: eslint --fix, vitest related --run, prettier --write

minor updates
  public/WhatsApp Image 2026-05-14 at 12.46.56 PM.jpeg
  src/app/about-us/page.tsx
  src/app/page.tsx
Due: eslint --fix, vitest related --run

update logo
  .claude/settings.local.json
  src/components/Footer.tsx
Due: eslint --fix, vitest related --run, prettier --write

update location
  src/app/about-us/page.tsx
Due: eslint --fix, vitest related --run

update calendar
  src/app/page.tsx
  src/app/tournaments/page.tsx
  src/components/Header.tsx
Due: eslint --fix, vitest related --run

updated calendar
  src/app/event-calendar/page.tsx
  src/app/summer-camp/registration/page.tsx
  src/components/Header.tsx
Due: eslint --fix, vitest related --run

updated
  src/components/Header.tsx
Due: eslint --fix, vitest related --run

update
  CLAUDE.md
Due: prettier --write

updated links for summercamps,workshop
  src/components/Header.tsx
Due: eslint --fix, vitest related --run

updated address
  src/app/tournaments/june/page.tsx
Due: eslint --fix, vitest related --run

july event
  .claude/settings.local.json
  dev.log
  src/app/events/page.tsx
  src/app/tournaments/july/page.tsx
Due: eslint --fix, vitest related --run, prettier --write
